/* General App Styles */

.App {
  overflow: hidden;
  padding-top: 5vh;
  position: absolute;
  width: 100%;
  height: 100%;
}

.App.show {
  overflow: initial;
  position: relative;
}

.background {
  background: var(--bg-day);
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s ease;
}

.min { color: #bbb; }
.min::before { content: '\2009/ ';}

.max::after,
.min::after,
.temp::after,
.slide-temp::after { content: '\00b0'; }

.widget-title {
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.widget-subtitle { font-size: 0.9em; }

/* ===================== */

/* Hourly Forecast Styles Start */

.hourly-forecast-swiper {
  height: 6em;
  width: 100%;
  text-align: center;
}

.hourly-slide {
  flex-direction: column;
  justify-content: space-between;
}

.slide-icon {
  margin: 1em 0;
  width: 1.5em;
}

.slide-time {
  font-size: 0.8em;
  font-weight: 300
 }

 .swiper-placeholder { opacity: 0; }

 /* Hourly Forecast Styles End */

/* ===================== */

/* Daily Forecast Styles Start */

.daily-forecast-wrapper { margin: -1rem 0; }

.daily-row {
  height: 3em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.daily-row:last-child { border-bottom: none;}

.daily-date { justify-content: flex-start;}

.daily-date div { width: 6em; }

.daily-icon img { width: 2em; }

.daily-temps  { justify-content: flex-end; }

 /* Daily Forecast Styles End */

/* ===================== */

/* Footer Styles Start */

.footer-wrapper {
  color: #bbb;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
}

.footer-wrapper { margin-bottom: 1.5em; }

.footer-wrapper a { transition: 0.3s ease; }

.footer-wrapper a:hover { color: #fff; }

.footer-wrapper .author {
  font-size: 0.9rem;
  font-weight: 400;
}

/* Footer Styles End */

/* ===================== */

@media (min-width: 375px) {
  .daily-date span { max-width: 100%; }
  
  .sun-path-wrapper { font-size: 13px; }
}

@media (min-width: 768px) {
  .data_title,
  .data_value,
  .humidity-bar-level {
    font-size: 1em;
    font-weight: 300;
  }

  .wind-wrapper,
  .comfort-wrapper { width: 70%; }
}
